<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.4" 
    xmlns="http://java.sun.com/xml/ns/j2ee" 
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee 
        http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
  <application>moumentei</application>
  <version>1</version>

  <static-files/>

  <resource-files/>

  <system-properties>
    <property name="jruby.management.enabled" value="false" />
    <property name="os.arch" value="" />
    <property name="jruby.rack.logging" value="stdout"/>
    <property name="jruby.rack.input.rewindable" value="false"/>
  </system-properties>        
</web-app>
