<div class="btn-group">
<%= button_to_function("全选", "select_all()", :class => 'btn') %>
<%= button_to_function("清空", "select_none()", :class => 'btn') %>
<%= button_to_function("反选", "select_reverse()", :class => 'btn') %> </div>
