<thead>
<tr>
<th>UID</th>
<th>Name</th>
<th>Ratio</th>
<th>Weight</th>
<th>Ticket Type</th>
<th>tid</th>
<th>datatime</th>
</tr>
<tbody>
<%= render :partial => 'ticket', :collection => @tickets %>
</tbody>
<tfoot>
<tr>
  <td colspan="6">
Total Count: <%= @tickets.size %>
Total Score:
<%=@score%>
  </td>


</tr>
</tfoot>
