<% if @followers.size == 0 %>
<h2>尚无粉丝</h2>
<% else %>
<h2><%= "#{@user.followers.count}位粉丝有正在围观#{@user.login}" %></h2>
<% for f in @followers %>
<%=render :partial => 'person', :object => f%>
<% end %>
<% end %>
<%= will_paginate @followers %>