<%= yield :before_footer %>
<!-- Footer
================================================== -->
<footer class="footer">
Powered By: <a href="https://github.com/qiushibaike/moumentei" target="_blank">冇问题</a>
作者: <a href="http://shiningray.cn/" target="_blank">ShiningRay</a>
&copy; <a href="http://www.qiushibaike.com/" target="_blank">糗事百科</a>
  <%= yield :footer %>
</footer>
<%= yield :after_footer %>

