<h1>Listing pictures</h1>

<ul>
<% @pictures.each do |picture| %>
  <li><%= link_to image_tag(picture.attachment.url(:thumb)), picture %></li>
<% end %>
</ul>

<br />

<%= link_to 'New picture', new_picture_path %>