<h1>New picture</h1>

<% form_for(@picture, :html=>{:multipart => true}) do |f| %>
  <%= f.error_messages %>


  <p><%= f.file_field :attachment %></p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', pictures_path %>