<div id="pagination" class='ui-grid-a'>
  <div class="ui-block-a">
  <% if @articles.previous_page %>
  <%= link_to '上一页', params.merge(:page => @articles.previous_page), {
    'data-role' => 'button',
    'data-icon' => 'arrow-l'
  } %>
  <% end %>
  </div>
  <div class="ui-block-b">
  <% if @articles.next_page %>
  <%= link_to '下一页', params.merge(:page => @articles.next_page), {
    'data-role' => 'button',
    'data-icon' => 'arrow-r',
    'data-iconpos' => "right"
  } %>
  <% end %>
  </div>
</div>