<form action="" method="post">
  <p>当前昵称<strong><%=h current_user.login%></strong></p>
  <p>新昵称<br/>
    <input type="text" name="new_name" />
  </p>
  <p>
    <input type="submit" value="更改" />
  </p>
</form>